
<md-content>
<md-toolbar layout="row" flex>
  <div class="md-toolbar-tools">

    <span flex></span>
    <div class="navbar-header">
      <a
          href="https://www.linkedin.com/in/bert-coleman-5b95b0106" target="_blank">
        <i class="fa fa-linkedin fa-2x"></i>
      </a>
    </div>
    <div class="navbar-header">
      <a href="https://www.github.com/bertdawg76" target="_blank">
        <i class="fa fa-github fa-2x"></i>
      </a>
    </div>

      <div ng-show="isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></div>
      <div ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="signup" ng-style="navbar">Sign up</a></div>
      <div ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="login" ng-style="navbar">Login</a></div>
      <div ng-show="isLoggedIn()"><p>Hello {{ currentUser().name }}</p></div>
      <div ng-show="isLoggedIn()"><a href='' ng-click="logOut()">Log Out</a></div>

  </div>


</md-toolbar>
<md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
  <md-tab label="Admin" ui-sref="admin"></md-tab>
  <md-tab label="Info" ui-sref="info"></md-tab>
</md-tabs>

  </md-content>