<md-content>
  <md-toolbar class="md-hue-2" layout="row" layout-align="space-between center" flex>

    <br>

    <div class="md-toolbar-tools">



      <a class="navIcon"
          href="https://www.linkedin.com/in/bert-coleman-5b95b0106" target="_blank">
        <i class="fa fa-linkedin fa-3x"></i>
      </a>


      <a class="navIcon" href="https://www.github.com/bertdawg76" target="_blank">
        <i class="fa fa-github fa-3x"></i>
      </a>



        <div ng-repeat="item in menu" ui-sref-active="active">
         <md-button class="md-primary"  ui-sref="{{item.state}}">{{item.title}}</md-button>

        <md-button ng-show="isAdmin()" class="md-primary" ui-sref="admin">Admin</md-button>
        </div>
      <span flex></span>

        <md-button ng-show="isAdmin()" class="md-primary" ui-sref-active="active" ui-sref="signup">Sign up</md-button>
        <md-button ng-hide="isLoggedIn()" ui-sref-active="active" ui-sref="login" class="md-primary">Login</md-button>
        <p ng-show="isLoggedIn()">Hello {{ currentUser().name }}</p>
        <md-button ng-show="isLoggedIn()" href=''  class="md-primary" ng-click="logOut()">Log Out</md-button>


</div>



    </md-toolbar>
  </md-content>